$old-default-link-color: #06c;
$blue-green: #066;

/* buttons on index page */
/*.buttons {
   position:absolute;
   top:312px;
   left:593px;
   float:left;
   a {
      display:inline-block;
      padding-top:4px;
      padding-bottom:4px;
      padding-right:5px;
      height:16px;
      line-height:16px;
      width:112px;
      margin-right:2px;
      background: url("/img/bk-navi.png") repeat scroll 0 0 #D6D0BD;
      font-size:10px;
      text-decoration:none;
      text-align:center;
      color:black;
      border-right:2px solid #ccc;
      border-bottom:2px solid #ccc;
      &.last {
         margin-right:0;
         padding-right:1px; }
      img { padding-right:2px; } } }*/

/*.list {
   height: 40px;
   width: 1000px; }*/

/*.anniversary_button {
   color: #555 !important;
   text-decoration:none;
   background:#d6d0bd url(/img/bk-navi.png);
   font-size:14pt;
   font-weight:normal;
   margin:0;
   text-align:center;
   width:176px;
   height:28px;
   float:left; }

.with_rightBorder {
   border-right-style:solid; 
   border-right-width:1px; 
   border-right-color:#AAAAAA; }*/

/*#index #mybuttons {
	display:none;
}

#index .buttons {
	display:none;
}

#index #midsection .buttons {
	display:block;
}

#maintext .item {
	margin-right:10px;
}*/

#midsection {
	object {
		position:relative;
		padding-top:10px; } 
	button1 {
		background:#d6d0bd url(/img/bk-navi.png);
		font-size:17pt;
		font-weight:normal;
		margin-bottom:5px;
		margin-top:5px;
		margin-left:0;
		margin-right:0;
		text-align:left;
		width:340px;
		padding-left:15px; } }

/*#maintext {

		  h2 {
			background:#d6d0bd url(/img/bk-navi.png);
			font-size:14pt;
			font-weight:normal;
            margin:0;
			text-align:center;
			width:355px;
			height:28px;
			float:left; }
		h3 {
			background:#d6d0bd url(/img/bk-navi.png);
			display:block;
			font-size:12pt;
			margin-bottom:0px;
			margin-top:1px;
			margin-left:0px;
			margin-right:0px;
			font-weight:bold;
			text-align:center;
			width:340px;
			height:28px;
			float:left; }
		h4 {
			background:#d6d0bd url(/img/bk-navi.png);
			display:block;
			font-size:12pt;
			margin-bottom:0px;
			margin-top:1px;
			margin-left:0px;
			margin-right:0px;
			font-weight:normal;
			text-align:center;
			width:340px;
			height:28px;
			float:left; }
        p {
			margin-top:0;
			line-height:1.4em; }
		ul {
			padding-left:15px; }
	    .links {
		    position:absolute;
		    top:308px;
		    left:600px;
		    a.left {
			    margin-right:4px; } } 
		object {
			position:absolute;
			top:88px;
			left:0;
			margin:0 auto;
			padding-left:5px;
			padding-top:5px;
			width:350px;
			height:208px; } } }*/

/*#mygallery, #myphoto {
	height:337px;
	width:590px;
	border:1px solid #cccccc;
	overflow:hidden;
	position:relative;
}
#mygallery a, #myphoto a {
	position:absolute;
	top:0;
	left:0;
	margin:3px;
	text-decoration:none;
	z-index:1;
	color:#ededed;
	display:none;
}
#myphoto a {
	display:block;
}
#mygallery a.current, #myphoto a.current {
	z-index:2;
}
#mygallery a.next, #myphoto a.next {
	z-index:3;
	display:none;
}
#mygallery a div.caption, #mygallery a div.captionbk,
#myphoto a div.caption, #myphoto a div.captionbk {
	position:absolute;
	z-index:10;
	bottom:0;
	left:0;
	width:584px;
	font-weight:bold;
	font-size:14px;
}
#mygallery .captionbk
#myphoto .captionbk {
	z-index:15;
}
#mygallery .captionbk *{
	visibility:hidden;
}
#mygallery .captionbk.shown,
#myphoto .captionbk.shown {
	background-color: #173372;       
	opacity: 0.8;
}

#mygallery .caption *, #mygallery .captionbk *,
#myphoto .caption *, #myphoto .captionbk * {
	margin:10px 20px 10px 20px;
	text-shadow: 2px 2px 3px black;
}
#mygallery .caption p, #mygallery .captionbk p,
#myphoto .caption p, #myphoto .captionbk p{
	display:none;
}*/

/* ######### OTHER - Don't really know what the hell this crap is for */
.shadow1 {
   display: block;
   clear: both;
   width: 604px;
   height: 1px;
   border-top: 1px solid #929292;
   background-color: #c6c6c6;
   border-bottom: 1px solid #ebebeb;
   overflow: hidden;
   float: right;
   padding: 0; }

#picmedia {
   padding-top: 2px;
   position: absolute;
   top: 77px;
   left: 246px;
   float: left; }

.skip {
   position: absolute;
   top: -5000px; }

ul.notopspace {
   margin-top: 0;
   padding-top: 0; }

#content p.clear {
   height: 0;
   margin: 0;
   padding: 0; }
/* END OTHER ######### */

/* ######### DEAD - Styles that are commented out and no longer in use */
#leftcol .buttons a {
   display: inline-block;
   padding-top: 9px;
   height: 16px;
   width: 80px;
   margin-right: 2px;
   vertical-align: middle;
   background: url(/img/buttonbkg.gif) ;
   font-size: 10px;
   text-decoration: none;
   text-align: center;
   color: black;
   border-right: 2px solid #ccc;
   border-bottom: 2px solid #ccc; }
   
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
   margin: 0;
   padding: 0; }

/* span.pub_auth,
span.pub_other {

} */

/* These rules don't seem to make sense
#secmid p img,
#secmid h1 img,
#secmid h2 img,
#secmid h3 img,
#secmid h4 img,
#secmid h5 img {
	margin:0 0 10px 10px;
	float:right;
}
#secmid p img.left,
#secmid h1 img.left,
#secmid h2 img.left,
#secmid h3 img.left,
#secmid h4 img.left,
#secmid h5 img.left {
	margin:10px 10px 0 0 ;
	float:left;
}*/

/* Commented out on February 17, 2012.

These should be in ul.contact elements and handled by more general rules
#content .stafflist .phone {
	margin:0;
	padding:0;
}

#content .stafflist .email {
	margin:0;
	padding:0;
}
*/

/*	Commented out on August 29, 2011. If there are no significant complaints by November 29, 2011, this section will be removed.
#secnavimg {
	display:none;
}

.innerbox a,
.item a ,
.targetaud a {
	color:#069;
	text-decoration:none;
}
.innerbox a:visited,
.item a:visited,
.targetaud a:visited {
	color:#669;
}
.innerbox a:hover,
.item a:hover,
.targetaud a:hover {
	text-decoration:underline;
}

#bottomrow {
	position:relative;
	background:#cccbb7 url(/img/bottomrowbg.gif);
	height:19px;
	padding-top:3px;
	width:100%;
	font-size:12px;
	clear:both;
}

#bottomrow ul {
	list-style:none;
	display:table;
	margin:0 auto;
	padding:0;
	text-align:center;
	white-space:nowrap;
}
#bottomrow li {
	display:table-cell;
	float:left;
	margin:0;
	padding:0 8px 0 0;
	border-right: 1px solid #999;
}
#bottomrow li a {
	display:block;
	padding: 0 0 0 8px;
	color:#3f3a26;
	text-decoration:none;
}

#bottomrow li a:hover {
	text-decoration:underline;
}
#bottomrow li.last {
	border-right:none;
}
#toprow {
	width:100%;
	height:40px;
}

p.para {
	text-align:left;
	margin:0 auto;
}

.row1 {
	text-align:center;
	width:100%;
}

#pg1 #li1,
#pg1a #li1a a, #pg1b #li1b a, #pg1c #li1c a, #pg1d #li1d a, #pg1e #li1e a, #pg1f #li1f a, #pg1g #li1g a, #pg1h #li1h a, #pg1i #li1i a, #pg1j #li1j a, #pg1k #li1k a, #pg1l #li1l a, #pg1m #li1m a, #pg1n #li1n a, #pg1o #li1o a, #pg1p #li1p a,
#pg2 #li2,
#pg2a #li2a a, #pg2b #li2b a, #pg2c #li2c a, #pg2d #li2d a, #pg2e #li2e a, #pg2f #li2f a, #pg2g #li2g a, #pg2h #li2h a, #pg2i #li2i a, #pg2j #li2j a, #pg2k #li2k a, #pg2l #li2l a, #pg2m #li2m a, #pg2n #li2n a, #pg2o #li2o a, #pg2p #li2p a,
#pg3 #li3,
#pg3a #li3a a, #pg3b #li3b a, #pg3c #li3c a, #pg3d #li3d a, #pg3e #li3e a, #pg3f #li3f a, #pg3g #li3g a, #pg3h #li3h a, #pg3i #li3i a, #pg3j #li3j a, #pg3k #li3k a, #pg3l #li3l a, #pg3m #li3m a, #pg3n #li3n a, #pg3o #li3o a, #pg3p #li3p a,
#pg4 #li4,
#pg4a #li4a a, #pg4b #li4b a, #pg4c #li4c a, #pg4d #li4d a, #pg4e #li4e a, #pg4f #li4f a, #pg4g #li4g a, #pg4h #li4h a, #pg4i #li4i a, #pg4j #li4j a, #pg4k #li4k a, #pg4l #li4l a, #pg4m #li4m a, #pg4n #li4n a, #pg4o #li4o a, #pg4p #li4p a,
#pg5 #li5,
#pg5a #li5a a, #pg5b #li5b a, #pg5c #li5c a, #pg5d #li5d a, #pg5e #li5e a, #pg5f #li5f a, #pg5g #li5g a, #pg5h #li5h a, #pg5i #li5i a, #pg5j #li5j a, #pg5k #li5k a, #pg5l #li5l a, #pg5m #li5m a, #pg5n #li5n a, #pg5o #li5o a, #pg5p #li5p a,
#pg6 #li6,
#pg6a #li6a a, #pg6b #li6b a, #pg6c #li6c a, #pg6d #li6d a, #pg6e #li6e a, #pg6f #li6f a, #pg6g #li6g a, #pg6h #li6h a, #pg6i #li6i a, #pg6j #li6j a, #pg6k #li6k a, #pg6l #li6l a, #pg6m #li6m a, #pg6n #li6n a, #pg6o #li6o a, #pg6p #li6p a,
#pg7 #li7,
#pg7a #li7a a, #pg7b #li7b a, #pg7c #li7c a, #pg7d #li7d a, #pg7e #li7e a, #pg7f #li7f a, #pg7g #li7g a, #pg7h #li7h a, #pg7i #li7i a, #pg7j #li7j a, #pg7k #li7k a, #pg7l #li7l a, #pg7m #li7m a, #pg7n #li7n a, #pg7o #li7o a, #pg7p #li7p a,
#pg8 #li8,
#pg8a #li8a a, #pg8b #li8b a, #pg8c #li8c a, #pg8d #li8d a, #pg8e #li8e a, #pg8f #li8f a, #pg8g #li8g a, #pg8h #li8h a, #pg8i #li8i a, #pg8j #li8j a, #pg8k #li8k a, #pg8l #li8l a, #pg8m #li8m a, #pg8n #li8n a, #pg8o #li8o a, #pg8p #li8p a,
#pg9 #li9,
#pg9a #li9a a, #pg9b #li9b a, #pg9c #li9c a, #pg9d #li9d a, #pg9e #li9e a, #pg9f #li9f a, #pg9g #li9g a, #pg9h #li9h a, #pg9i #li9i a, #pg9j #li9j a, #pg9k #li9k a, #pg9l #li9l a, #pg9m #li9m a, #pg9n #li9n a, #pg9o #li9o a, #pg9p #li9p {
	background:#173372;
	color:#dedede;
	text-shadow: 2px 2px 3px black;
}
.pg1 #list1, .pg2 #list2, .pg3 #list3, .pg4 #list4, .pg5 #list5, .pg6 #list6, .pg7 #list7, .pg8 #list8, .pg9 #list9{
	display:block;
}
ul.orgchart {
	margin-left:0;
	padding-left:0;
	list-style:none;
}
#content ul.orgchart ul {
	margin-left:-1em;
	list-style:circle;
}
#content ul.orgchart li {
	padding-bottom:0;
}

.medinset {
	width:100%; 
	margin:auto; 
	background:#efefef; 
	padding:10px 20px;
}*/
/* END DEAD ######### */