@import "_mixins.scss";
@import "_colors.scss";

@media all{
	body{
		font-family:Arial, Helvetica, sans-serif;
	}
	
	a, img {
		border:none;
		outline:0;
	}
	
	/* These are really the same thing but are both used for whatever reason */
	#frontpage #footer, 
	#index #footer {
		margin-top:0;
	}

	#secmid{
		background-color:white;
	}
	
	#secmid #content{
		font-size:10pt;
		font-family:Calibri, sans-serif;
		line-height:150%;
	}
	
	#secmid #content .list_title{
		color:black;
		font-weight:bold;
		font-size:16px;
		margin-bottom:0px;
	}
	
	#secmid #content .list_content{
		color:black;
		font-size:12px;
		margin-top:0px;
	}
	
	/* Contact info - Specific to profile Index Pages atm*/ /*Needs some work*/
	table.profile{
		float:left; 
		width:535px; 
		margin-right:71px;
		/*width:90%;*/
		text-align:left;
		/*padding-top:20px;*/
		font-size:10pt;
		height:315px;
	}

	table.profile img{
		border:1px solid #999999;
	}

	table.profile td.picture{
		height:250px;
		margin-left:10px;
		padding-left:7px;
		padding-top:5px; 
		text-align:center;
		vertical-align:top;
	}
	table.profile td.picture img{
		width:200px;
		height:auto;
	}

	table.profile td.name{
		border-bottom:1px solid #777777;
		font-size:12pt;
		color:#082458;
	}

	table.profile td.rank{
		padding-left:8px;
		font-style:italic;
		padding-bottom:5px;
	}

	table.profile td.email{
		width:100%;
		vertical-align:top;
	}

	table.profile td.phone{
		width:100%;
		vertical-align:top;
	}

	table.profile td.office{
		width:100%;
		vertical-align:top;
	}

	/* Column 2 */
	table.profile .topic{
		padding:0px 50px;
		vertical-align:top;
	}
	
	/* ##### SIDEBLOCK */
	/* Resize area based on sideblock dimensions */
	.rs-slideshow,
	.rs-slideshow .slide-container img {
		height: 260px;
		width: 345px;
	}

	/* Move the controls around */ 
	#rs-controls-slideshow-div{
		bottom:27px;
	}

	/* The block of junk on the right hand side of the front page of profile pages */
	#sideblock {
		background:#e5dfd7;
		overflow:hidden;
		margin-top:3px;
		padding:0px;
		width:344px;
		height:315px;
		vertical-align:bottom;
		position:relative;
	}

	#sideblock .topbuttons {
		/* height:25px; */
		line-height:1.65em;
		width:352px;
		margin-left:auto;
	}

	/* The buttons above the slideshow */
	#sideblock .topbuttons a{
		text-decoration:none;
		background:#d6d0bd url(/img/bk-navi.png);
		text-align:center;
		color:black;
		border-right:2px solid #ccc;
		width:174px;
		height:28px;
		font-size:11px;
		font-weight:800;
		text-transform:uppercase;
		margin:0px;
		float:left;
	}

	#sideblock .topbuttons a:hover {
		color:gray;
		text-decoration:none;
		background-position:bottom;
	}

	#sideblock .topbuttons a img {
		width:auto;
		height:28px;
	}

	#sideblock .topbuttons .with_rightBorder {
		border-right-style:solid; 
		border-right-width:1px; 
		border-right-color:#AAAAAA;
	}

	/* The buttons below the slideshow */
	#sideblock #bottombuttons a {
		text-decoration:none;
		color:black;
		display:inline-block;
		margin-right:2px;
		height:25px;
		width:100px;
		vertical-align:middle;
		background:url(/img/buttonbkg.gif) ;
		font-size:10px;
		text-align:center;
		margin-top:5px;
		border-right:2px solid #ccc;
		border-bottom:2px solid #ccc;
	}

	#sideblock #bottombuttons a.last {
		margin-right:0;
		padding-right:1px;
	}

	#sideblock #bottombuttons a:hover {
		color:gray;
		text-decoration:none;
		background-position:bottom;
	}
	/* ##### END SIDEBLOCK */
}

@media print{
	a:visited,
	a:link,
	a:active{
		text-decoration:none;
		color:black;
	}

	#audience{
		display:none;
	}
	
	#header{
		display:none;
	}

	#footer{
		display:none;
	}

	#secmid #leftcol{
		display:none;
	}
	#secmid #content {
		overflow:visibile;
		color:black !important;
	}
}

/* Only really tested on screen */
@media 	screen, 
	aural,
	braille,
	embossed, 
	handheld,
	projection,
	tty,
	tv
{

	.shadow {
		display:none;
		/*display:block;*/
		clear:both;
		background:#5667ab;
		width:100%;
		height:1px;
		margin:0px;
		padding:0px;
		border:0px;
	}
	
	body{
		margin:auto;
		width:950px;
		margin-top:10px;
	}

	#header{
		border-right:1px solid #5667ab;
	}

	#header #banner{
		background: #002665 url('/img/header-bg.jpg');
		background-repeat:repeat-x;
		width:100%;
		padding:0px;
		margin:0px;
		border-collapse:collapse;
	}
	
	#header #banner #logo a{
		display:block;			/* Make the anchor act as a div */
		width:50px;			/* Dimensions of the clickable space */
		height:75px;
		padding-right:5px;	}
	
	#header #banner #logo a:link,
	#header #banner #logo a:active,
	#header #banner #logo a:visited{
		background:transparent url('/img/header-um-crest-red.png') no-repeat scroll center center;
	}
	
	#header #banner #logo a:hover{
		background:transparent url('/img/header-um-crest-red-larger.png') no-repeat scroll center center;
	}
	
	#header #banner #department a{
		display:block;			/* Make the anchor act as a div */
		width:550px;			/* Dimensions of the clickable space */
		height:50px;
	}
	
	#header #banner #department a:link,
	#header #banner #department a:active,
	#header #banner #department a:visited{
		background:transparent url('/img/profile-header-ee-dept.png') no-repeat scroll center center;
	}
	
	#header #banner #department a:hover{
		background:transparent url('/img/profile-header-ee-dept-hover.png') no-repeat scroll center center;
	}

	#header #banner #department.civil a:link,
	#header #banner #department.civil a:active,
	#header #banner #department.civil a:visited{
		background:transparent url('/img/profile-header-ce-dept.png') no-repeat scroll center center;
	}
	
	#header #banner #department.civil a:hover{
		background:transparent url('/img/profile-header-ce-dept-hover.png') no-repeat scroll center center;
	}

	#header #banner #department.chemical a:link,
	#header #banner #department.chemical a:active,
	#header #banner #department.chemical a:visited{
		background:transparent url('/img/profile-header-che-dept.png') no-repeat scroll center center;
	}
	
	#header #banner #department.chemical a:hover{
		background:transparent url('/img/profile-header-che-dept-hover.png') no-repeat scroll center center;
	}
	
	#header #banner #department.mechanical a:link,
	#header #banner #department.mechanical a:active,
	#header #banner #department.mechanical a:visited{
		background:transparent url('/img/profile-header-me-dept.png') no-repeat scroll center center;
	}
	
	#header #banner #department.mechanical a:hover{
		background:transparent url('/img/profile-header-me-dept-hover.png') no-repeat scroll center center;
	}
	
	#header #banner #university a{
		display:block;			/* Make the anchor act as a div */
		width:310px;			/* Dimensions of the clickable space */
		height:25px;
		padding-top:15px;
	}
	
	#header #banner #university a:link,
	#header #banner #university a:active,
	#header #banner #university a:visited{
		background:transparent url('/img/profile-header-um.png') no-repeat scroll center right;
	}
	
	#header #banner #university a:hover{
		background:transparent url('/img/profile-header-um-hover.png') no-repeat scroll center right;
	}
	
	#header #banner #soe a{
		display:block;			/* Make the anchor act as a div */
		width:310px;			/* Dimensions of the clickable space */
		height:25px;
		padding-bottom:6px;
	}
	
	#header #banner #soe a:link,
	#header #banner #soe a:active,
	#header #banner #soe a:visited{
		background:transparent url('/img/profile-header-soe.png') no-repeat scroll top right;
	}
	
	#header #banner #soe a:hover{
		background:transparent url('/img/profile-header-soe-hover.png') no-repeat scroll top right;
	}

	#header #nav_menu{
		width:950px;
		height:38px;
		list-style:none;
		margin:0px;
		padding:0px;
		background:#d6d0bd url('/img/bk-navi.png');
		overflow:visible;
	}	

	#header #nav_menu #link1 {width:125px;}
	#header #nav_menu #link2 {width:135px;}
	#header #nav_menu #link3 {width:135px;}
	#header #nav_menu #link4 {width:135px;}
	#header #nav_menu #link5 {width:160px;}
	#header #nav_menu #link6 {width:133px;}
	#header #nav_menu #link7 {width:118px;}

	#header #nav_menu a:link,
	#header #nav_menu a:active,
	#header #nav_menu a:visited,
	#header #nav_menu a:hover{
		text-decoration:none;
		display:block;
		color:black;
		line-height:38px;
		height:38px;
		font-size:11px;
		font-weight:700;
		text-transform:uppercase;
	}

	#header #nav_menu li:hover{
		background:#e4e1d2;
	}

	#header #nav_menu li{
		float:left;
		border-right:1px solid #c7c2b4;
		text-align:center;
		height:38px;
	}
	
	#secmid{
		/*width:1000px;*/
		width:950px;
		height:500px;
		overflow:hidden;
	}
	
	#secmid #content{
		background-image:url('/img/bkgd-secondary.jpg');
		background-repeat:repeat-x;
		margin-left:248px;
		height:480px;
		width:679px; /* Needed to display correctly in Chrome */
		padding:10px;
		border-right:1px solid #5667ab;
		overflow:auto;
	}

   #secmid #content #search {
	   float:right;
	   margin:5px 10px 2px 0;
	   height:33px;
	   overflow:hidden;
   }

   #secmid #content #search #q {
	   color:#666;
	   font-size:10px;
	   width:120px;
	   height:15px;
	   overflow:hidden;
   }

   #secmid #content #search #searchbutton {
	   vertical-align:middle;
   }

   #secmid #content #newsblock {
      clear:both;
   }

	#secmid #leftcol{
		background-color:#e3e0d7;
		width:248px;
		height:100%;
		margin:0 auto;
		border-right:1px solid #5667ab;
		float:left;
		font-size:10pt;
		font-family:Calibri, sans-serif;
		line-height:150%;
		overflow:hidden;	/* Should keep the menu from running off the page */
	}
	
	#secmid #leftcol #glossymenu{
		margin:0px;
		padding:0px;
	}
	
	#secmid #leftcol #glossymenu a {
		font:bold 12px Helvetica, sans-serif;
		height:15px;
		color:black;
		display:block;
		width:237px;
		padding:4px 0;			/* One of these two lines  */
		padding-left:10px;		/* needs to change         */
		text-decoration:none;
		border-bottom:1px solid #e8e8e8;
		background:#d6d0bd url('/img/bk-navi.png');
	}

	#secmid #leftcol #glossymenu a:hover{
		background-image:url('/img/glossyback2.gif');
	}
	
	/* None of the following glossymenu css is necessary if there is no dropdown */
	#secmid #leftcol #glossymenu .submenuheader {
		position:relative; /*To help in the anchoring of the ".statusicon" icon image*/
	}

	#secmid #leftcol #glossymenu .submenuheader .statusicon{ /*CSS for icon image that gets dynamically added to headers*/
		position:absolute;
		top:5px;
		right:5px;
		border:none;
	}
	
	#secmid #leftcol #glossymenu .submenu a {
		background-image:none;
		font-weight:normal;
	}

	#secmid #leftcol #glossymenu .submenu a:hover{
		background-image:url('/img/glossyback.gif');
	}
	
	#secmid #leftcol #glossymenu .submenu ul{
		list-style-type: none;
		margin:0px;
		padding:0px;
	}
	
	/* Footer */
	#footer{
		font-family:Arial, Helvetica, sans-serif;
		width:950px;
		margin-top:0px;
		vertical-align:top;
		border-top:1px solid #ccc;
		padding-top:8px;
		font-size:11px;
		color:gray;
	}
	
	#footer a{
		text-decoration:none;
		color:#204290;
		outline:none;
	}

	#footer a:hover{
		text-decoration:underline;
	}

	#footer img{
		border:none;
		outline:none;
	}

	#footer ul{
		list-style:none;
		margin:0px;
		padding:0px;
		display:block;
	}

	#footer li{
		float:left;
		font-size:10px;
		padding:0px 3px;
		border-right:1px solid #204290;
	}

	#footer li.first{
		padding-left:0px;
	}

	#footer li.last{
		border-right:none;
	}

	#footer #credits{
		position:absolute;
		top:0;
		left:0;
	}

	#footer .copyright,
	#footer #copyright{
		font-size:9px;
		float:right;
	}

	#footer #acc_icon{
		vertical-align:top;
	}
	
	@import "widget/_button.scss";
	@import "widget/_audience.scss";
}
