/* Welcome to my CSS Nightmare!
 * Hopefully this Table of Contents will help you find what you are looking for.
 * Pro-tip: ctrl+f to search for the section name
 *
 * HEADER - Large blue bar with school name, logo, etc
 * UHEAD - Small horizontal menu between the header and the navinclude
 * NAVINCLUDE - Gray horizontal menu just above the content area
 * CONTENT/INNERCONTENT - Content area stylings
 *    ## Renders tables of courses and course information
 *    ## Provides consistent behavior for titles and subtitles
 * OVERLAY - Stylings for overlays and content in overlays
 *    ## Calendar overlays - Displays schedules for time sensitive events
 *    ## Profile overlays - Usually displays personal information for faculty and staff
 *    ## Course overlays - Usually displays information about a course (class)
 * FOOTER - Section at the bottom of the page for copyright and accessibility information
 * LEFTCOL - Grey vertical menu found on the left side of most secondary pages
 * STAFFLIST - gray-ish shaded rectangles usually with contact info inside of them
 * NEWSBLOCK - Tabbed UI element that normally holds news
 * PRINTER - Make pages printer friendly
 */

@import "_mixins.scss";
@import "_colors.scss";
@import "_reset.scss";

.clear { clear: both; }                      // Used to properly align things after floating elements. Don't delete this or you'll break stuff!

html, body { font-family: Arial, Helvetica, sans-serif; }

a {
   &:link, &:active, &:visited, &:hover { color: $default-link-color; } }

p {
   margin: 1em 0;
   line-height: 1.5em; }

.gallery {
   li {                                // Align gallery images in a grid. Don't forget this is used by all the departments and various other pages!
      display: inline-block;
      list-style: none;
      width: 175px;
      min-height: 250px;
      float: left;
      margin: 0 1em 5px 0;
      text-align: center; }
   img {
      width: 90px;
      height: 120px; } }

#midsection {
   position: relative;
   margin-top: 3px;
   height: 345px;
   #maintext {
      position: absolute;
      top: 0;
      right: 0;
      width: 355px;
      height: 337px;
      background-color: $gray;
      color: #3f3a26;
      overflow: hidden;
      font-size: 13px; } }

#container {
   margin: auto;
   width: 950px; }

/* ######### CONTENT/INNERCONTENT - Content area stylings */
#secmid {
   width: 950px;
   height: 650px; }

#innercontent { padding: 12px; }

/* Scrolling content area */
#content {
   vertical-align: top;
   width: 709px;
   font-size: 12px;
   height: 600px;
   overflow: auto;
   h1.content_title {
      text-align: center;
      margin-left: auto;
      margin-right: auto; }
   p, ul, li {
      padding: 2px 0 2px 0;
      line-height: 18px; }
   ul {
      list-style-type: disc;
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 1em; }
   h2 {
      font-size: 18px;
      font-style: italic;
      color: #009;
      padding-top: 12px;
      padding-bottom: 4px; }
   h3 {
      font-size: 12px;
      font-style: italic;
      color: #009;
      padding-top: 12px;
      padding-bottom: 4px; }
   h4 {
      color: #009;
      font-size: 15px;
      margin-top: 6px;
      margin-bottom: 4px;
      font-weight: normal; }
   p { margin-top: 0; }
   /* ## Renders tables of courses and course information */
   table.course_list {
      border-width: 0;
      padding-bottom: 10px;
      width: 100%;
      td {
         text-align: left; 
         vertical-align: top; }
      th {
         text-align: left;
         vertical-align: bottom;
         text-decoration: underline;
         &.course_number { width: 20%; }
         &.course_title, &.extra { width: 35%; }
         &.time { width: 30%; }
         &.instructor { width: 15%; }
         &.schedule_number { width: 15%; }
         &.schedule_course_title { width: 40%; } } } }

#faculty #content {
   padding-left: 25px;
   padding-right: 75px; }

/* ## Provides consistent behavior for titles and subtitles */
.supertitle {
   color: #009;
   font-size: 16px;
   font-weight: bold;
   padding-bottom: 4px;
   margin-bottom: 1em;
   border-bottom-style: solid;
   border-bottom-color: #009;
   border-bottom-width: 1px; }

.title {
   color: #009;
   font-size: 16px;
   font-weight: bold;
   padding-bottom: 4px;
   padding-top: 12px; }

.list_title { font-weight: bold; }

.subtitle {
   color: #009;
   font-size: 12px;
   font-weight: bold;
   font-style: italic;
   padding-bottom: 4px; }
/* END CONTENT/INNERCONTENT ######### */

@import "widget/_header.scss";
@import "widget/_button.scss";
@import "widget/_buttonbar.scss";
@import "widget/_footer.scss";
@import "widget/_stafflist.scss";
@import "widget/_overlay.scss";
@import "widget/_lmenu.scss";
@import "widget/_newsblock.scss";
@import "widget/_tooltip.scss";
@import "widget/_scrollable.scss";
@import "_print.scss";
