#audience {
   height: 40px;
   width: 1000px;
   #bttn1 { width:149px; }
   #bttn2 { width:156px; }
   #bttn3 { width:202px; }
   #bttn4 { width:143px; }
   #bttn5 { width:89px; }
   #bttn6 { width:114px; }
   #bttn7 { width:89px; } }