/*   Classes:
 *   .button:
 *      A button contains the general layout of a button for this menu
 *   .label
 *   .buttonType#:
 *      A buttonType# contains a specific layout that seperates buttons from 
 *      the general .button layout
 *   .dropdown
 *      A dropdown contains the styling for the hover dropdown of specified 
 *      buttons
 *
 *   Button Types
 *   Type0
 *      Blue background, white text, lighter blue hover background, located to 
 *      the right on the menu, all caps
 *   Type1
 *      White background, navy text, no special hover behavior, located to the 
 *      left on the menu
 *   Type2
 *      Grey background, dark grey text, lighter grey hover background, 
 *      located in navigation, all caps
 *   Type3
 *      Same as Type2 but different size for maintext buttons above video
 *   Type4
 *      Same as Type2 but different size for maintext buttons below video
 *   .last
 *      No right border
 *   @include gradient
 *      Creates a gradient on the buttons. The colours are controlled by 
 *      variables in _colors.scss. Using this makes it much easier to change 
 *      things across the board at one time
 *   darken/lighten
 *      Sass allows for subtle colour changes to be easily made with the 
 *      lighten and darken functions, which cause the colours to be changed by 
 *      a percentage instead of trying to figure out the hex values
 */
.button {
   display: block;
   float: left;
   @include button-height(40px);
   text-align: center;
   font-size: 11px;
   .label {
      display: block;
      font-weight: bold;
      text-transform: uppercase; }
   .dropdown {
      display: none;
      position: relative;
      background-color: $off-white;
      border: 1px solid navy;
      text-align: left;
      padding: 5px;
      z-index: 16;
      line-height: 1.3em; }
   &:hover .dropdown {
      display: block;
      width: 150px; } }

.last { border-right: none !important; }
		 
.buttonType0 {
   @include button-gradient($dark-blue);
   .label { color: white; } }

.buttonType1 {
   text-align: left;
   .label { color: navy; } }

.buttonType2, .buttonType3, .buttonType4 {
   @include button-gradient($gray);
   .label { color: #555; } }

.buttonType3 { 
    width: 176px;
    @include button-height(30px); }

.buttonType4 { 
    width: 117px;
    @include button-height(25px); }
