/* Used to properly align things after floating elements. Don't delete this or you'll break stuff! */
.clear { clear: both; }

.two-col {
   width: 100%;
   .title-row td { font-weight: bold; }
   td {
      text-align: center;
      padding: .5em 0; }
   table { width: 100%; } }

/* Align gallery images in a grid. Don't forget this is used by all the departments and various other pages! */
.gallery {
   li {
      display: inline-block;
      list-style: none;
      width: 175px;
      min-height: 250px;
      float: left;
      margin: 0 1em 5px 0;
      text-align: center; }
   img {
      width: 90px;
      height: 120px; } }

/* ## Renders tables of courses and course information */
.course_list {
   border-width: 0;
   padding-bottom: 10px;
   width: 100%;
   td {
      text-align: left;
      vertical-align: top; }
   th {
      text-align: left;
      vertical-align: bottom;
      text-decoration: underline;
      &.course_number { width: 20%; }
      &.course_title, &.extra { width: 35%; }
      &.time { width: 30%; }
      &.instructor { width: 15%; }
      &.schedule_number { width: 15%; }
      &.schedule_course_title { width: 40%; } } }

/* ## Calendar overlays - Displays schedules for time sensitive events */
.calendar {
   width: 100%;
   border-spacing: 0;
   border-collapse: collapse;
   margin-bottom: 5px;
   td, th {
      padding:0 10px;
      height:2em; }
   tr.chartcolor td, tr.chartcolor th { background-color:black; } }

/* ## Profile overlays - Usually displays personal information for faculty and staff */
.profile {
   text-align: left;
   padding-top: 20px;
   font-size: 10pt;
   img { 
     border: 1px solid #999999;
     width: 90px;
     height: auto;
   }
   td {
      vertical-align:top;
      padding: .5em;
      &.picture {
         margin-left: 10px;
         padding-left: 7px;
         padding-top: 5px; 
         text-align: left;
         vertical-align: top; }
      &.name {
         border-bottom: 1px solid #777;
         padding-top:3px;
      }
      &.rank {
         font-style: italic;
         padding-bottom: 5px; }
      &.email { width: 100%; }
      &.assoc { font-size: 9pt; }
      &.name { font-size: 12pt; }
      &.assoc {
         padding-left: 10px;
         text-align: justify;
         padding-top: 10px; }
      &.topic {
         width: 50px;
         padding-left: 10px;
         padding-right: 1em; }
      &.publications {
         padding-top: 20px;
         div {
            border-bottom: 1px solid #999;
            padding-bottom: 1px; }
         ul {
            padding-left: 20px;
            padding-right: 20px; }
         li {
            list-style: square outside;	
            padding-bottom: 10px; }
         .pub_jour { font-style: italic; } } } }

/* ## Course overlays - Usually displays information about a course (class) */
.course_info {
   padding-top: 30px;
   .course_id {
      padding-left: 1px;
      font-size: 10pt; }
   .course_name { font-size: 14pt; }
   .course_title { border-bottom: 1px solid #777; }
   .course_desc {
      text-align: justify;
      padding: 10px; } }
