/* ######### NAVINCLUDE - Gray horizontal menu just above the content area */
#navigation {
   width: 1000px;
   height: 40px;
   margin-top: 2px;
   #head1 { width: 104px; }
   #head2 { width: 84px; }
   #head3 { width: 119px; }
   #head4 { width: 79px; }
   #head5 { width: 184px; }
   #head6 { width: 120px; }
   #head7 { width: 131px; }
   #head8 { width: 121px; } }
/* END NAVINCLUDE ######### */
