/* ######### OVERLAY - Stylings for overlays and content in overlays */
.post-info { margin-bottom: 5px; }
.contentWrap img { margin: 5px; }

.apple_overlay {                             // the overlayed element
   display: none;                            // hide overlay initially
   background-image: url(http://engineering.olemiss.edu/~atef/img/background.png); // growing background image
   background-color: #444;
   width: 640px;                             // width after the growing animation finishes; height is automatically calculated
   padding: 35px;
   font-size: 11px;
   border: 1px solid #444;
   border-radius: 40px;
   border-top-right-radius: 0;
   .contentWrap {
      height: 500px;
      overflow-y: auto;
      overflow-x: hidden;
      color: white; }
   .close {                      // default close button positioned on upper right corner
      background-image: url(/images/overlay/blue-close.png);
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer;
      height: 35px;
      width: 35px; }
   a { color: yellow; }
   p { color: white; } }
/* END OVERLAY ######### */
