/* ######### UHEAD - Small horizontal menu between the header and the navinclude */
#uhead {
   height: 40px;
   width: 1000px;
   .weather_icon {
      vertical-align: middle;
      width: 20px;
      height: 20px;
      padding-right: 5px; }
   #uhead0 { width: 116px; }
   #uhead1 { width: 225px; }
   #uhead2 { width: 60px; }
   #uhead3 { width: 95px; }
   #uhead4 { width: 105px; }
   #uhead5 { width: 60px; }
   #uhead6 {
      width: 80px;
      @include gradient-with-hover($dark-red, $darker-red); }
   #uhead7 { width: 100px; }
   #uhead8 { width: 45px; }
   #uhead9 { width: 57px; } }
/* END UHEAD ######### */
